{% extends "base.html" %}
{% load url from future %}
{% block title %}Notifications - Quoffee{% endblock %}
{% block extracss %}
<style type="text/css">

.header{
	/*background: #3AA768;*/
	
	text-align: center;
}

.header h1{
	font-size: 3.5em;
	color: #000;
	margin: 0;
}

.header h2{
	font-size: 1.5em;
	color: #000;
	margin: 0;
	font-weight: 300;
}

.header .notebook-username-container{
	text-align:right; display:inline; float:right; display:table; height:60px;
}

.header .notebook-username-label{
	font-size: 1.5em;
	font-weight: 700;
	margin: 0.5em;
}

@media screen and (max-device-width: 1024px) { 
.header .notebook-username-label{
	   display: none;
	}
}



.content{
	max-width: 800px;
	margin: 0 auto;
	padding: 2em 1em 1em 1em;
	margin-bottom: 2em;
}

.notification-item{
	margin: 0.5em 0;
	padding: 1em;
}

.notification-item-title{
	font-weight: 700;
	font-size: 1.1em;
}

.notification-item-title-sub{
	color: #999;
	font-size: 0.7em;
}

.notification-item p{
	font-weight: 300;
	margin: 0.2em 0;
}

.background-not-read{
	background: #e3e4e4;
}


</style>
{% endblock %}

{% block content %}
<div class="pure-u-1">
	<div class="header">
		<div class="">
			<div id="" class="top-bar invisible"></div>
			<div style="right:0px; margin: 1em 1em 0 0;">
				{% if flavour == 'mobile' %}
				<div class="circular-40" style="background: url({{ profile.display }}) no-repeat; background-size:40px 40px; float:right; margin-top:-0.5em; margin-right:-0.5em;"></div>
				{% else %}
				<div class="circular-60" style="background: url({{ profile.display }}) no-repeat; background-size:60px 60px; float:right;"></div>
				{% endif %}				
				<div style="float:right;" class="notebook-username-container"> <!-- Dont show in media query phone -->
					<div style="display:table-cell; vertical-align:middle;">
						<span class="notebook-username-label">
							{{ request.user.first_name }}  {{ request.user.last_name }}
						</span>
					</div>
				</div>
				<div style="clear:both;"></div>
			</div>

			<div style="right:0px; margin: 2em 1em 0 0;" id="page-title">
				<h1>Notifications</h1>
				<h2>This is how awesome you are</h2>
			</div>
		</div>
	</div>
	<div class="content" id="notifications-content">
		{% regroup notifications by dateformat as res_list %}
		{% for dateformat in res_list %}
			<p style="color:#999;">{{ dateformat.grouper}}</p>
		    {% for item in dateformat.list %}
		          <div class="notification-item {% if item.status == 'N' %}background-not-read{% endif %}">
			          	<div class="floatleft" style="">
			          		<!-- <img src="{{ item.display }}"> -->
			          		<div class="circular-60" style="background: url({{ item.display }}) no-repeat; background-size:60px 60px; margin-right:0.5em;"></div>
			          	</div>
			          	<div style="max-width:650px; margin-left:70px;">
			          		<label class="notification-item-title">{{ item.sender.first_name }} {{ item.sender.last_name }} <span class="notification-item-title-sub">Requoted your quote</span></label><br>
			          		<p>{{ item.data }}</p>
			          	</div>
			          	<div style="clear:both;"></div>
		          </div>
		    {% endfor %}
		{% endfor %}
	</div>
</div>
{% endblock %}
{% block extrajs %}
<script type="text/javascript">
$('#page-title').waypoint(function() {
	$(".top-bar").toggleClass("invisible");
});

function readAllNotifications(){
	$('.notification-item').removeClass('background-not-read');
	ajaxCall("POST", '/api/notifications/read/', {'csrfmiddlewaretoken': $.cookie('csrftoken')}, 'json', function(json){
		if(json){
			var data = eval(json);
			if (data.valid){
				$(".side-notification-a, .main-notification").remove();
			}
		}
	});
}

setTimeout("readAllNotifications();", 4000);

</script>
</script>
{% endblock %}