body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: Merriweather, Georgia, "Times New Roman", serif;
}
.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
    color: white;border-radius: 5px; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
 	font-family: Merriweather, Georgia, "Times New Roman", serif;   
}
.pure-button-success { background: #3AA768; /* this is a green */}
.pure-button-error { background: rgb(202, 60, 60); /* this is a maroon */}
.pure-button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}
.pure-button-secondary { background: rgb(66, 184, 221); /* this is a light blue */}
.pure-button-xsmall {font-size: 70%;}
.pure-button-small { font-size: 85%;}
.pure-button-large {font-size: 110%;}
.pure-button-xlarge { font-size: 125%;}
.pure-error{ background: rgb(202, 60, 60);padding: 0.3em 1em; border-radius: 3px; color: #fff;}
.pure-form input, .pure-form textarea{ font-family: Merriweather, Georgia, "Times New Roman", serif;}
.pure-form .button-notebook{ padding: 0.45em 1em !important; margin: 0 0.2em;}

.floatleft{float: left;}
.aligncenter{text-align: center;}

.menu-link {
	position: fixed; display: block;
	top: 10px; left: 10px; z-index: 10;height: auto; }
.login-form{ padding: 1em;}
.login-form h1{ font-size: 3em; line-height: 1; margin: 10px; }
.login-form h2{ font-size: 2em; line-height: 1; margin: 5px; }
.login-form p{ font-size: 1.5em;  color: #dcddd8; margin: 0;}
.social-auth{ margin-top: 2em; }

.quote-container{ margin-top: 1em; margin-bottom: 1.5em; padding: 1em;}
.content .quote-container:hover{ background: #E3E4E4; cursor: pointer;}
.quote-container .quote-category{ color: #999;}
.quote-container .quote-text{ font-weight: 300; margin-top: 5px; margin-bottom: 5px; font-size: 1.4em; color: #000;}
.quote-container .quote-author{ font-weight: 700; color: #000;}

.meta-header{color:#434343;}
.meta-tags span{ margin: 0 0.5em 0 0;}
.meta-tags a{ color:#434343;text-decoration: none;}

#mymenu{ background: #191818; overflow-y: auto; -webkit-overflow-scroll: touch;}
#quote-panel{
	background: #fff;
	font-family: Merriweather, Georgia, "Times New Roman", serif;
	overflow-y: auto;
	-webkit-overflow-scroll: touch;
}
.invisible{ display: none;}

.menu-item{
	border-top: 1px solid #000; border-bottom: 1px solid #000; margin-top: -1px; padding: 0.5em 0;
}
.mm-quotemenu ul{ margin-top: -1em; padding: 1em 0 0 0 !important; }
.mm-quotemenu ul li{ padding: 0.5em 1.5em !important; }
.mm-quotemenu ul li:after{ border-bottom: 0px !important;}
.mm-quotemenu ul li a{ padding: 0 !important; }

.mm-quotemenu-options{
	width: 20px;
    height: 100%;
    padding: 5px 5px !important;
    position: absolute;
    right: 0px;
    top: 5px;
    z-index: 10;
    background: transparent;
    cursor: pointer;
}

.mm-quotemenu-options-1{
	width: 20px;
    height: 100%;
    padding: 5px 5px !important;
    position: absolute;
    right: 0px;
    top: 5px;
    z-index: 10;
    background: transparent;
    cursor: pointer;
}

.quotemenu-header{ text-align:center; margin: 1em 0;}

.quotemenu-header label{ display:block; padding:0.5em;}

.circular-30{
	width: 30px; height: 30px; border-radius: 15px;-webkit-border-radius: 15px; -moz-border-radius: 15px;
	border: 1px solid #dbdcd7;}
.circular-40{
	width: 40px; height: 40px; border-radius: 20px;-webkit-border-radius: 20px; -moz-border-radius: 20px;
	border: 1px solid #dbdcd7;}
.circular-60{
	width: 60px; height: 60px; border-radius: 30px;-webkit-border-radius: 30px; -moz-border-radius: 30px;
	border: 2px solid #dbdcd7;}

.margin-auto{ margin: 0 auto;}
.circular-60-shadow{ box-shadow: 0 0 15px rgba(0, 0, 0, .8); -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .8); -moz-box-shadow: 0 0 15px rgba(0, 0, 0, .8);}

.white-popup {
	position: relative;
	background: #FFF;
	padding: 20px;
	width: auto;
	max-width: 500px;
	margin: 20px auto;
}

.notebook-popup{
	position: relative;
	background: #FFF;
	padding: 20px;
	width: auto;
	max-width: 350px;
	margin: 20px auto;
}

.quote-form input,
.quote-form textarea{ width: 100%;}
.quote-form textarea{ height: 70px;}
.selectize-control{ margin: 5px 0 5px 0; }
.selectize-input input{ display: inline !important;}

.dropdown, .dropdown-alt{width: 100% !important;}
.dropdown ul, .dropdown-alt ul{ margin: 0 !important; padding: 0 !important; }

.quoteuser-display{ margin: 1em 0; }

.hidden{ display: none;}

.quotemenu-options-content span{ font-size: 17px; margin: 0 10px;}
.quotemenu-nb-option{ cursor: pointer;}

.footer{ max-width: 800px; margin: 0 auto; padding: 1 0em; border-top: 1px solid #e3e4e4;}
.footer ul{ margin: 1.5em 0 2em -1em;}
.footer li{ display: inline; list-style-type: none; padding-right: 20px;}
.footer li a{ color: #000; text-decoration: none; }
.footer li a:hover{ color: #808080; text-decoration: none; }

.new-quote-fixed{ position: fixed; top: 10px; right: 20px; z-index: 10; width: 2em; height: auto;}
.new-quote-fixed a{ color:#3AA768;}

@media screen and (max-device-width: 1024px) { 
	.top-bar{
	   position:fixed;
	   top:0;
	   left:0;
	   width:100%;
	   height:60px;
	   background-color:#fff;
	   z-index: 1;
	   background: #fff; border-color:#EBEAE5 #E0DFDC #DBDAD7;
		background: rgba(255,255,255, 0.90);
		background: -moz-linear-gradient(top, rgba(255,255,255, 0.80) 0%, rgba(255,255,255, 0.88) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255 0.90)), color-stop(100%,rgba(255,255,255 0.90)));
		background: -webkit-linear-gradient(top, rgba(255,255,255,0.90) 0%,rgba(255,255,255,0.90) 100%);
		background: -o-linear-gradient(top, rgba(255,255,255,0.80) 0%,rgba(255,255,255,0.88) 100%);
	    filter: alpha(opacity=90);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#FFFFFFFF);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#FFFFFFFF)";
	}

	.pure-form .button-notebook{ padding: 0.5em 1em !important; }
}

/*Selectize override*/
.selectize-control.single .selectize-input, .selectize-dropdown.single { border-color: rgb(206, 206, 206); }
.selectize-input, .selectize-control.single .selectize-input {
	display: inline-block; cursor: text; background: #ffffff;
}

.selectize-control.multi .selectize-input [data-value] {
  text-shadow: 0 1px 0 rgba(0, 51, 83, 0.3);
  background-color: #3aa768;
  background-image: -moz-linear-gradient(top, #3aa768, #3aa768);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3aa768), to(#3aa768));
  background-image: -webkit-linear-gradient(top, #3aa768, #3aa768);
  background-image: -o-linear-gradient(top, #3aa768, #3aa768);
  background-image: linear-gradient(to bottom, #3aa768, #3aa768);
  background-repeat: repeat-x;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3aa768', endColorstr='#3aa768', GradientType=0);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.03);
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.03);
}

.selectize-control.multi .selectize-input [data-value].active {
  background-color: #3aa768;
  background-image: -moz-linear-gradient(top, #3aa768, #3aa768);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3aa768), to(#3aa768));
  background-image: -webkit-linear-gradient(top, #3aa768, #3aa768);
  background-image: -o-linear-gradient(top, #3aa768, #3aa768);
  background-image: linear-gradient(to bottom, #3aa768, #3aa768);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3aa768', endColorstr='#3aa768', GradientType=0);
}

.selectize-control.multi .selectize-input > div { color: #ffffff; background: #3aa768; border: 1px solid #3aa768; }

.selectize-control.multi .selectize-input > div.active { color: #ffffff; background: #3aa768; border: 1px solid #1c7a43;}

.green-bar{ height:5px; width:100%; background:#3AA768;}

.more-quotes{
	margin-top: 1em; margin-bottom: 1.5em; padding: 1em 0em 0 0; margin-left: 0;
}

.loading-new-quote{ 
	background-color:rgba(255,255,255,0.5); 
	width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index:100;
}
a.a-primary{ color: #000; text-decoration: none; }
a.a-primary:hover{ color: #808080; text-decoration: none; }
a.a-success{ color: #3AA768; text-decoration: none; }
a.a-success:hover{ color: #2d8451; text-decoration: none; }

.main-notification{
	background:#cd3214; position:fixed; top: 13px; left: 66px; letter-spacing:0; padding: 0.3em 0.5em; color:#fff;
	border: 1px solid gray; font-family: 'Merriweather', serif;
	-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;
}

.main-notification:after {
content: ''; position: absolute; border-style: solid;
border-width: 8px 8px 8px 0; border-color: transparent #cd3214; display: block; width: 0; z-index: 1; left: -8px; top: 8px;}

.main-notification:before {
content: '';
position: absolute;
border-style: solid;
border-width: 10px 10px 10px 0; border-color: transparent gray;
display: block; width: 0; z-index: 0; left: -10px; top: 6px; }

.side-notification{
	width: 36px; height: 36px; border-radius: 18px;-webkit-border-radius: 18px; -moz-border-radius: 18px;
	border: 1px solid gray;
	background: #cd3214;
	color: #fff;
}

.side-notification-count{
	line-height: 36px;
	font-size: 0.9em;
}

.side-notification-a{
	position: absolute;;
	color: #fff;
	text-decoration: none;	
	right: -24px;
}


.quote-tools{
	padding: 2em 1em;
}

.quote-tools a{
	color: rgba(215,215,215,1);
}

.quote-tools a:hover{
	color: #333;
}