/* FAQ */

.faq-questions {
  list-style-type: none; 
  background: #fff;
  margin: 0;
  padding: 0em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.faq-questions .faq-number {
  min-width: 25px;
  display: inline-block; }

.faq-questions li {
  line-height: 20px; 
  color: #222;
  margin-bottom: 5px;
}

.faq-questions li a:link{ color: #222; text-decoration:none; font-size:1em; border-bottom: 1px dotted #222; }
.faq-questions li a:visited{ color: #222; text-decoration:none; font-size:1em; border-bottom: 1px dotted #222; }
.faq-questions li a:active{ color: #222; text-decoration:none; font-size:1em; border-bottom: 1px dotted #222; }
.faq-questions li a:hover{ color: #000; text-decoration:none; font-size:1em; border-bottom: 1px dotted #000; }
 
.faq-list {
  list-style-type: none; 
}

.faq-list .faq-number {
  display: inline-block;
  margin-right: 10px;
  font-size: .9em;
  line-height: 28px;
  width: 32px;
  height: 32px;
  text-align: center;
  border: 3px solid #eeeeee;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #606060;
  background: #606060;
}

.faq-left {
  margin-top: 5px; }

.faq-left .faq-well {
  margin-top: 10px; }

.faq-list h4{
  color: #333333;
  text-align: left;
  font-size: 1.5em;
  margin: 1em;
}

.faq-questions a:link{ color: #333; text-decoration:none; font-size:1em;}
.faq-questions a:visited{ color: #333; text-decoration:none; font-size:1em;}
.faq-questions a:active{ color: #333; text-decoration:none; font-size:1em;}
.faq-questions a:hover{ color: #333; text-decoration:none; font-size:1em;}

.faq-list a:link{ color: #000; text-decoration:underline; font-size:1em;}
.faq-list a:visited{ color: #000; text-decoration:underline; font-size:1em;}
.faq-list a:active{ color: #000; text-decoration:underline; font-size:1em;}
.faq-list a:hover{ color: #000; text-decoration:underline; font-size:1em;}

.faq-list li{
  margin: 1.5em 0 !important;
}

.faq-list p{
  margin: 0.5em;
}


#faq-search{
  width: 100%;
  margin: 1em 0;
}

hr{
  border-top: 1px solid #666;
  margin: 1em 0;
}

/* END FAQ */