{% extends "base.html" %}
{% load url from future %}
{% block extracss %}
<style type="text/css">
{% if flavour == 'full' %}
.content {	
	max-width: 800px;
	margin: 0 auto;
	margin-top: 100px;
}
p{
	font-size: 2em;
}
{% endif %}
</style>
{% endblock %}

{% block content %}
<div class="pure-u-1">
	<div class="content aligncenter">
		{% if error %}
			<p>There was something wrong with your activation request.</p>
		{% else %}
			<p>Great News! Your account has been activated! You can start quoting!</p>
		{% endif %}
	</div>
</div>
{% endblock %}

