<html>
	<title>{% block title %}{% endblock %}</title>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="mobile-web-app-capable" content="yes">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
		<link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,900' rel='stylesheet' type='text/css'>
		<link type="text/css" rel="stylesheet" href="/static/css/jquery.mmenu.jd.css" />
		<link type="text/css" rel="stylesheet" href="/static/css/magnific-popup.css" />
		<link type="text/css" rel="stylesheet" href="/static/css/jquery.selectize.default.css" />

		<link type="text/css" rel="stylesheet" href="/static/css/jquery.easydropdown.css" />
	
		<link type="text/css" rel="stylesheet" href="/static/css/loadingbar.css" />
		<link type="text/css" rel="stylesheet" href="/static/css/messenger.css" />
		<link type="text/css" rel="stylesheet" href="/static/css/messenger-theme-air.css" />
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link href="//cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.css" rel="stylesheet">
		<link rel="shortcut icon" href="/static/images/app/app-logo-iDevice-greenbg.png">
		<link rel="apple-touch-icon-precomposed" href="/static/images/app/app-logo-iDevice-greenbg.png"/>
		<link rel="apple-touch-icon" href="/static/images/app/app-logo-iDevice-greenbg.png"/>
		<link rel="stylesheet" type="text/css" href="/static/css/app-base.css?t=1395980141">
		{% block extracss %}
		{% endblock %}
		<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.mmenu.min.all.js"></script>
		<script type="text/javascript" src="//cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.js"></script>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		  ga('create', 'UA-48821150-1', 'quoffee.com');
		  ga('send', 'pageview');
		</script>
	</head>
	<body>
		{% if is_user %}
		<div id="mymenu">
			<div>
				<div style="" class="quotemenu-header">
					<div class="circular-60 margin-auto" style="background: url({{ user.display }}) no-repeat; background-size:60px 60px; position:relative;">
						{% if notifications_count and notifications_count > 0 %}
						<a href="javascript:void(0);" class="side-notification-a" onclick="javascript:readAllNotifications();">
							<div class="side-notification" style="">
								<span class="side-notification-count">{{ notifications_count }}</span>
							</div>
						</a>
						{% endif %}
					</div>

					<label style="">{{ user.name }}</label>
					<label><a href="/logout" style="color:#cecece; text-decoration:none;">Logout</a></label>

				</div>
				<div class="menu-item">
					<span><i class="fa fa-home" style="margin-right:5px; color:#fff;"></i><a href="/" style="color:#fff; text-decoration:none;">Home</a></span>
				</div>
				{% if notebooks %}
				<div class="menu-item">
					<div style="position:relative; margin-bottom:10px;">
						<span style="font-weight:700; color:#fff;"><i class="fa fa-book"></i> 
							Notebooks   						
						</span>
						<div class="mm-quotemenu-options-1" style="top:0px; right:1px;">
							<span href="#notebook-form" name="notebook-new"><i class="fa fa-plus-circle"></i></span>
						</div>
					</div>
					<ul id="notebook-list" style="display:inline;">
						{% include "notebook-list.html" %}
					</ul>
				</div>
				{% endif %}
				{% if tags %}
				<div class="menu-item">
					<span style="font-weight:700; color:#fff;"><i class="fa fa-tag"></i> Tags</span>
					<ul id="tag-list">
						{% for item in tags %}
						<li><a href="/{{ user.username }}/tags/{{ item.slug }}">#{{ item.name }}</a></li>
						{% endfor %}
					</ul>
				</div>
				{% endif %}
			</div>
		</div>
		{% endif %}
		<div class="pure-g-r">
		{% if is_user %}
		<a href="#mymenu" id="menuLink" class="menu-link">
			<img src="/static/images/app/app-logo-green_40.png">
		</a>
		{% if notifications_count and notifications_count > 0 %}
		<a href="javascript:void(0);" onclick="javascript:readAllNotifications();">
			<div class="main-notification" style="">
				<span class="main-notification-count">{{ notifications_count }}</span>
			</div>
		</a>
		{% endif %}
		{% else %}
		<a class="menu-link" href="/">
			<img src="/static/images/app/app-logo-green_40.png">
		</a>
		{% endif %}

		{% block content %}

		{% endblock %}
		</div>
		<div class="footer">
			<ul>
				<li><a href="https://medium.com/quoffees-blog" target="_blank">Blog</a></li>
				<li><a href="/bookmarklet">Bookmarklet</a></li>
				<li><a href="/support">Help</a></li>
				<li><a href="/contact">Contact</a></li>
				<li><a href="http://www.twitter.com/getquoffee" target="_blank"><i class="fa fa-twitter fa-2x" ></i></a></li>
			</ul>
		</div>
		<!-- Quote form -->
		{% if profile.activated %}
			{% include "quote-form.html" %}
			{% include "quote-change-notebook-form.html" %}
		{% else %}
		<div id="new-quote" class="white-popup mfp-hide" data-activated="false">	
			<div>
				<p>We are deeply sorry but right now you can't create quotes. You have to activate your account first.</p>
				<p>If you lost your activation email or you didn't give us a real one check the F.A.Q. for directions.</p>
			</div>
		</div>
		{% endif %}
		<!-- End quote form -->
		<!-- Notebook Form -->
		<div id="notebook-form" class="notebook-popup mfp-hide">
			<form class="pure-form pure-form-stacked quote-form" id="form-notebookform">{% csrf_token %}
				<input type="hidden" id="notebookform-key" name="key">
			 	<label for="notebooform-name">Name</label>
        		<input id="notebookform-name" name="name" type="text" placeholder="Type the notebook name here.">
        		<button class="pure-button pure-button-success pure-u-1" id="btn-savenotebook">Save!</button>
			</form>
		</div>
		<!-- End Notebook Form -->

		<div id="quote-panel" class=""></div>

		<script type="text/javascript" src="/static/js/jquery.magnific-popup.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.autosize.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.selectize.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.easydropdown.js"></script>	
		<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>	
		<script type="text/javascript" src="/static/js/messenger.min.js"></script>
		<script type="text/javascript" src="/static/js/waypoints.min.js"></script>		
		<script type="text/javascript" src="/static/app/commons.js"></script>

		<script type="text/javascript">
		/* urls */
		var url_users_search_profile = "{% url 'users:search_profile' %}";
		var url_quotes_get_data = "{% url 'quotes:get_quote_data' %}";
		var url_quotes_notebook_new = "{% url 'quotes:notebook_crud' 'new' %}";
		var url_quotes_notebook_edit = "{% url 'quotes:notebook_crud' 'edit' %}";
		var url_quotes_notebook_delete = "{% url 'quotes:notebook_crud' 'delete' %}";
		var url_quotes_notebook_default = "{% url 'quotes:notebook_crud' 'default' %}";
		var url_quotes_notebook_list = "{% url 'quotes:get_notebook_list' %}";
		var url_quotes_requote = "{% url 'quotes:requote' %}";
		var url_quotes_delete = "{% url 'quotes:delete_quote' %}";
		</script>
		<script type="text/javascript" src="/static/app/webapp.js?t=1395980141"></script>
		<script type="text/javascript" src="/static/app/quote-form.js"></script>
		<script type="text/javascript">
		{% if is_user %}
		$(document).ready(function(){
			getNotebookProfileData();
		});
		{% endif %}
		</script>
		{% block extrajs %}{% endblock %}
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=672961956099279";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
		</script>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
		</script>
		<script type="text/javascript" src="http://static.bufferapp.com/js/button.js"></script>
	</body>
</html>