{% extends "base.html" %}
{% load url from future %}
{% block title %}Quoffee Bookmarklet{% endblock %}
{% block extracss %}
<style type="text/css">
{% if flavour == 'full' %}
.content {
	margin-top: 100px;
}
{% endif %}
</style>
{% endblock %}

{% block content %}
<div class="pure-u-1">
	<div class="content aligncenter">
		<div class="">
			<h1>Quoffee Bookmarklet</h1>
			<div>
				<div class="pure-u-1-2">
					<a href="javascript:var d=document, w=window, f='http://quoffee.com/?bm=on&', l=d.location, t=w.getSelection().toString(), p='quote='+t+'&url='+d.URL, u=f+p; a=function(){if(!w.open(u,'t','scrollbars=1,toolbar=0,location=0,resizable=0,status=1,width=550,height=400')){l.href=u}};if(/Firefox/.test(navigator.userAgent)){setTimeout(a,0)}else{a()}void(0);" onclick="return false;" title="Send to Quoffee">
						<img src="/static/images/app/app-logo-green.png" width="150px;" height="150px;" alt="Send to Quoffee" title="Send To Quoffee">
					</a>
				</div>
				<div class="pure-u-1-2">
					<h2>Drag to your Bookmark Toolbar</h2>
					<p>
						Drag the icon directly to your Bookmark Toolbar so you can quote the text you select in your other favorite websites.
					</p>
					<br>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

