{% extends "base.html" %}
{% load url from future %}
{% block extracss %}
<style type="text/css">
.email-suggestion{
	margin:10px 0; display:none;
}
.email-suggestion a{
	color: rgb(202, 60, 60);
}

{% if flavour == 'full' %}
.content {
	margin-top: 100px;
}
{% endif %}

</style>
{% endblock %}
{% block content %}
<div class="pure-u-1">
	<div class="content aligncenter">
		<div class="login-form">
			<h1>Email</h1>
			<h2>Sign up with your best email</h2>
			<p>We will send you a confirmation to prove you are an actual human or at least a sentient.</p>
			<div class="social-auth">							
				{% if flavour == "mobile" %}
				<form action="" method="POST" class="pure-form pure-form-stacked">
					{% csrf_token %}
					<input id="email" name="email" type="email" placeholder="Type your best email" required class="pure-input-1" style="height:2.9em;">
					<div class="email-suggestion" class="pure-u-1">
						Did you mean <a href="javascript:void(0);" class="suggested-email">
						<span class="address"></span></a>
						?
					</div>
					<button class="pure-button pure-button-success pure-button-large" style="width:100%;">Go!</button>
				</form>
				{% else %}
				<form action="" method="POST" class="pure-form">
					{% csrf_token %}
					<input id="email" name="email" type="email" placeholder="Type your best email" required class="pure-input-1-2" style="height:2.9em;">
					<button class="pure-button pure-button-success pure-button-large">Go!</button>
				</form>
				<div class="email-suggestion" class="pure-u-1">
					Did you mean <a href="javascript:void(0);" class="suggested-email">
					<span class="address"></span></a>
					?
				</div>
				{% endif %}
				
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block extrajs %}
<script type="text/javascript" src="/static/js/mailcheck.min.js"></script>
<script type="text/javascript">
var domains = ['hotmail.com', 'gmail.com', 'yahoo.com'];
var topLevelDomains = ["com", "net", "org"];

$('#email').on('blur', function() {
  $(this).mailcheck({
    domains: domains,                       // optional
    topLevelDomains: topLevelDomains,       // optional
    suggested: function(element, suggestion) {
      	$(".address", ".email-suggestion").html(suggestion.full);
      	$(".email-suggestion").show();
    },
    empty: function(element) {
      // callback code
    }
  });
});

$(".suggested-email", ".email-suggestion").click(function(){
	$("#email").val($(".address", ".email-suggestion").html());
	$(".email-suggestion").hide();
});

</script>
{% endblock %}