{% extends "base.html" %}
{% load url from future %}
{% block title %}Quoffee - Contact{% endblock %}
{% block extracss %}
<style type="text/css">
.content{
	max-width: 800px;
	margin: 0 auto;
	padding: 2em 1em 1em 1em;
}


</style>
{% endblock %}

{% block content %}
<div class="pure-u-1">
	<div class="content">
		<div>
			<h1>Quoffee Contact Information</h1>
		</div>
		<div>
			<p>We'd love to hear from you. Please let us know what do you think of Quoffee.com, what features would you like us to build and how we can improve your experience using our product.</p>
			
				<p><a class="a-success" href="https://docs.google.com/forms/d/1bmewFEc5PXDF0QYolVPs1o1wxaYFjzK4KlXoRBrJbJo/viewform">Click to send direct feedback</a></p>
			
			<p>
				But if you prefer, you can send us an email at <a class="a-success" href="mailto:info@quoffee.com">info@quoffee.com</a> or <a class="a-success" href="http://www.twitter.com/getquoffee">tweet us</a>.
			</p>
		</div>
	</div>
</div>
{% endblock %}

