{% extends "base.html" %}
{% load url from future %}
{% block title %}Quoffee - Home Page{% endblock %}
{% block extracss %}
<style type="text/css">

.header{
	/*background: #3AA768;*/
	background: #808080;
	height: 265px;
	text-align: center;
	background: url(/static/images/app/app-header.png) no-repeat;
 	background-size: cover;
 	overflow: auto;
}

.header h1{
	font-size: 3.5em;
	color: #fff;
	margin: 0;
}

.header h2{
	font-size: 1.5em;
	color: #fff;
	margin: 0;
	font-weight: 300;
}

.header h2 .quote-category{
	font-weight: 700;
}

.content{
	max-width: 800px;
	margin: 0 auto;
	padding: 2em 1em 1em 1em;
}

.header-bar{
	position: relative;
}

.header-bar-content{
	position: absolute;
	top:20px;
	right: 50px;
	text-align:right;	
}

.header-bar-content span{
	padding:0.5em;
}

.header-bar-content span a{
	color: #3AA768;
	text-decoration: none;
}

.header-content{
	padding: 1em; margin-top:50px;
}

@media screen and (max-device-width: 1024px) { 
	.header-content{
		padding: 1em; margin-top:30px;
	}
}

</style>
{% endblock %}
{% block content %}
<div class="pure-u-1">
	<div class="header" id="header">

		<div id="" class="top-bar invisible"></div>
		{% if is_user %}
		<div class="new-quote-fixed">
			<a href="#new-quote" name="add-new-quote" style="">
				<span class="fa-stack fa-lg">
				  <i class="fa fa-square-o fa-stack-2x"></i>
				  <i class="fa fa-pencil fa-stack-1x"></i>
				</span>
			</a>
		</div>
		{% endif %}
		<div class="header-bar">
			<div class="header-bar-content" style="">
				<span><a href="https://medium.com/quoffees-blog/a02ca4bafe0f" target="_blank">Learn More</a></span>
			</div>
		</div>
		<div class="header-content" style="">
		<h1 style="margin:0;">Quoffee</h1>
		<h2>Get every quote from <span class="quote-category" id="header-quote-category">books</span> organized.</h2><br>
		{% if is_user %}
			<a href="#new-quote" name="add-new-quote" class="pure-button pure-button-success pure-button-xlarge"><i class="fa fa-edit fa-lg"></i> New Quote</a>
		{% else %}
			<a href="login/" name="" class="pure-button pure-button-success pure-button-xlarge"><i class="fa fa-edit fa-lg"></i> New Quote</a>
		{% endif %}
		</div>
	</div>
	<div class="green-bar"></div>
	<div class="content" id="quotes-container">
		
	</div>
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
var categoryArray = ['books', 'movies', 'songs', 'tv shows', 'blog posts'];
var currentCategory = 0;
$('#header').waypoint(function() {
  $(".top-bar").toggleClass("invisible");
}, { offset: -265 });

window.setInterval(function(){
	currentCategory++;
	if(currentCategory==categoryArray.length) currentCategory=0;
	$("#header-quote-category").html(categoryArray[currentCategory]);
}, 2000);

get_quotes_index(1);
</script>
{% endblock %}