{% extends "base.html" %}
{% load url from future %}
{% block title %}Login{% endblock %}
{% block extracss %}
<style type="text/css">
{% if flavour == 'full' %}
.content {
	margin-top: 100px;
}
{% endif %}
</style>
{% endblock %}

{% block content %}
<div class="pure-u-1">
	<div class="content aligncenter">
		<div class="login-form">
			<h1>Sign in with...</h1>
			<h2>So we can add your Avatar and Name</h2>
			<p>We will never post without your permission</p>
			<div class="social-auth">
				<a href="{% url 'social:begin' 'twitter' %}"><img src="/static/images/social/signin-twitter.png"></a> <br />
			</div>
		</div>
	</div>
</div>
{% endblock %}

