{% extends "base.html" %}
{% load url from future %}
{% block title %}{{ notebook.name }} - Quoffee{% endblock %}
{% block extracss %}
<link rel="stylesheet" type="text/css" href="/static/css/jquery.easydropdown.flat.alt.css">
<style type="text/css">
.lnk-addquote{
	color: #3AA768;
	font-size: 2em;
	text-decoration: none;
}
.header{
	/*background: #3AA768;*/
	height: 250px;
	text-align: center;
}

.header h1{
	font-size: 3.5em;
	color: #000;
	margin: 0;
}

.header h2{
	font-size: 1.5em;
	color: #fff;
	margin: 0;
	font-weight: 300;
}

.header h2 .quote-category{
	font-weight: 700;
}

.header .notebook-username-container{
	text-align:right; display:inline; float:right; display:table; height:60px;
}

.header .notebook-username-label{
	font-size: 1.5em;
	font-weight: 700;
	margin: 0.5em;
}

.search{
	background: #E3E4E4;
	height: 105px;
}

@media screen and (max-device-width: 1024px) { 
	.header .notebook-username-label{
	   display: none;
	}
	.search{
		margin-top: -2em;
		margin-bottom: -2em;
	}
}

.search-content{
	max-width: 800px;
	margin: 0 auto;
	padding: 2em 1em 1em 1em;
}

.search-content input{
	font-size: 1.2em !important;
}

.notebook-content{
	max-width: 500px;
	margin: 0 auto;
	padding: 0em 1em 1em 1em;
}
.content{
	max-width: 800px;
	margin: 0 auto;
	padding: 2em 1em 1em 1em;
}



</style>
{% endblock %}

{% block content %}
<div class="pure-u-1">
	<div class="header">
		<div class="">
			<div id="" class="top-bar invisible"></div>
			{% if is_user %}
			
			<div class="new-quote-fixed invisible">
				<a href="#new-quote" name="add-new-quote" style="">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-square-o fa-stack-2x"></i>
					  <i class="fa fa-pencil fa-stack-1x"></i>
					</span>
				</a>
			</div>
			{% endif %}
			<div style="right:0px; margin: 1em 1em 0 0;">
				{% if flavour == 'mobile' %}
				<div class="circular-40" style="background: url({{ notebook_user_profile.display }}) no-repeat; background-size:40px 40px; float:right; margin-top:-0.5em; margin-right:-0.5em;"></div>
				{% else %}
				<div class="circular-60" style="background: url({{ notebook_user_profile.display }}) no-repeat; background-size:60px 60px; float:right;"></div>
				{% endif %}				
				<div style="float:right;" class="notebook-username-container"> <!-- Dont show in media query phone -->
					<div style="display:table-cell; vertical-align:middle;">
						<span class="notebook-username-label">
							{{ notebook_user.first_name }}  {{ notebook_user.last_name }}
						</span>
					</div>
				</div>
				<div style="clear:both;"></div>
			</div>
		</div>
		<div class="">
			<div class="notebook-content">
				<label style="font-size: 20px; font-weight:300;">Notebook</label>
				<select id="sel-mainnotebook">
				{% for item in notebook_user_notebooks %}
					{% if item == notebook %}
						<option value="{{ item.uniquekey }}" selected>{{ item.name }}</option>
					{% else %}
						<option value="{{ item.uniquekey }}">{{ item.name }}</option>
					{% endif %}
				{% endfor %}
				</select><br>
				{% if is_user %}
					<a href="#new-quote" name="add-new-quote" class="lnk-addquote"><i class="fa fa-edit fa-lg"></i> New Quote</a>
				{% else %}
					<a href="login/" name="" class="pure-button pure-button-primary pure-button-xlarge"><i class="fa fa-sign-in fa-lg"></i> Login</a><span style="margin-left:1em;"><a href="">Learn More</a></span>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="search">
		<div class="search-content">
			<div class="pure-form">
				<input type="text" id="input-quote-filter" class="pure-input-1" placeholder="Search this notebook (only this notebook)">
			</div>
		</div>
	</div>
	<div class="content quote-feed" id="notebook-quote-content">
		{% include "quote-display-data.html" %}
	</div>
</div>
{% endblock %}
{% block extrajs %}
<script type="text/javascript">
{% if is_user %}
	{% if user.username == notebook_user.username %}
		forceDefaultNotebook = "{{ notebook.uniquekey }}";
	{% endif %}
{% endif %}

$("#sel-mainnotebook").easyDropDown({
	wrapperClass:"{% if flavour == 'mobile' %}dropdown{% else %}dropdown-alt{% endif %}",
	onChange: function(selected){
		location.href = "/{{ notebook_user.username }}/nb/"+selected.value;
	}
});
$("#input-quote-filter").keyup(function () {
    var filter = $(this).val(), count = 0;
    $(".quote-container","#notebook-quote-content").each(function () {
        if ($(this).text().search(new RegExp(filter, "i")) < 0) {
            $(this).addClass("hidden");
        } else {
            $(this).removeClass("hidden");
            count++;
        }
    });
});

$('.search').waypoint(function() {
	$(".top-bar").toggleClass("invisible");
  	$(".new-quote-fixed").toggleClass("invisible");
}, { offset: -105 });
</script>
{% endblock %}