{% for item in notebooks %}
	<li style="padding:0;" data-key="{{ item.uniquekey }}" data-name="{{ item.name }}">
		<a href="/{{ user.username }}/nb/{{ item.uniquekey }}" style="margin-right: 20px; padding:0;">
			{{ item.name }}
		</a>
			<span class="mm-quotemenu-options" href="#"><i class="fa fa-gear"></i></span>
			<section class="quotemenu-options-content" style="display:none;">
				<span class="quotemenu-nb-option" name="nb-option-edit" data-key="{{ item.uniquekey }}" data-name="{{ item.name }}"><i class="fa fa-pencil"></i></span>
				<span class="quotemenu-nb-option" name="nb-option-delete" data-key="{{ item.uniquekey }}" data-name="{{ item.name }}"><i class="fa fa-trash-o"></i></span>
				<span class="quotemenu-nb-option" name="nb-option-default" data-key="{{ item.uniquekey }}" data-name="{{ item.name }}"><i class="fa fa-check"></i></span>
			</section>
	</li>
{% endfor %}