{% for quote in quotes %}
<div class="quote-container" data-id="{{ quote.uniquekey }}" data-userdisplay="{{ quote.profile.display }}" data-requotecount="{{ quote.requote_count }}"
	onclick="javascript:getQuoteFromContainer('{{ quote.uniquekey }}');">
	<span class="quote-category">
		{% if quote.category %}
			{{ quote.category.name }}
		{% elif quote.custom_category %}
			{{ quote.custom_category }}
		{% else %}
			Uncategorized
		{% endif %}
	</span><br>
	<p class="quote-text">
		{{ quote.text }}
	</p>
	<span class="quote-author">
		{% if quote.author %}
			{{ quote.author.name }}
		{% else %}
			Unknown
		{% endif %}
	</span>
</div>
{% endfor %}
{% if next_page %}
	<div class="more-quotes">
	<a href="javascript:void(0);" onclick="javascript:loadMoreQuotes('{{ path }}', {{ next_page }});" 
		class="pure-button" style="width:100%; padding: 1em 0;">
		<i class="more-quotes-icon fa fa-refresh"></i>&nbsp;&nbsp;Load More Quotes
	</a>
	</div>
{% endif %}