{% if data %}
	{% if data.deleted %}
	<div class="quote-container" id="quote-panel-container" >
		<p class="quote-text">
			Sorry! It seems that this quote was deleted recently.				
		</p>
	</div>
	{% else %}
	<div class="quote-container" id="quote-panel-container" data-id="{{ data.quote.uniquekey }}" data-notebook="{{ data.quote.notebook.uniquekey }}">
		<div>
			<div class="circular-60 quoteuser-display floatleft" style="background: url('{{ data.quote.profile.display }}') no-repeat; background-size:60px 60px; width:60px;"></div>
			{% if is_user %}
				{% if data.is_quote_user %}
				<div class="quote-tools floatleft">
					<a href="#div-change-notebook" name="change-notebook"><i class="fa fa-folder-open fa-2x"></i></a>
				</div>
				<div style="clear:both;"></div>
				{% endif %}
			{% endif %}
			<div style="clear:both;"></div>
		</div>
		<span class="quote-category">
			{% if data.quote.category %}
				{{ data.quote.category.name }}
			{% elif data.quote.custom_category %}
				{{ data.quote.custom_category }}
			{% else %}
				Uncategorized
			{% endif %}
		</span><br>
		<p class="quote-text">
			{{ data.quote.text }}				
		</p>
		<span class="quote-author">
			{% if data.quote.author %}
				{{ data.quote.author.name }}
			{% else %}
				Unknown
			{% endif %}				
		</span>
		<br><br>
		<div>
		{% if is_user %}
			{% if data.is_quote_user %}
				<button class="pure-button pure-button-error" onclick="javascript: deleteQuote('{{ data.quote.uniquekey }}');">Delete Quote</button>
			{% else %}
				<button class="pure-button pure-button-success btn-requotes" onclick="javascript: requote('{{ data.quote.uniquekey }}');">Requote</button>			
			{% endif %}
		{% endif %}
		</div>
		<div class="quote-requotes" style="margin: 1em 0.5em;">
			{% if data.requotes %}
				{% for item in data.requotes %}
					<div class="circular-30 floatleft" style="height: 30px; width: 30px; background: url('{{ item.display }}') no-repeat; background-size:30px 30px; margin:0.5em;"></div>
				{% endfor %}
			{% endif %}
		</div>
		<div style="clear:both;"></div>
		<div style="margin: 2em 0em;">
			<div class="floatleft" style="width:120px; margin-bottom:0.5em;">
			<div class="fb-share-button" data-href="http://quoffee.com/q/{{ data.quote.uniquekey }}" data-type="button_count" data-width="80"></div>
			</div>
			<div class="floatleft" style="margin-bottom:0.5em;">
			<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="/" data-counturl="http://quoffee.com/q/{{ data.quote.uniquekey }}" data-text="{{ data.share_str }}">Tweet</a>
			</div>
			<div class="floatleft">
			<a href="http://bufferapp.com/add" class="buffer-add-button" data-count="horizontal" data-url="http://quoffee.com/q/{{ data.quote.uniquekey }}" data-text="{{ data.share_str_buffer }}">Buffer</a>
			</div>
		</div>
		<div style="clear:both;"></div>
		<div style="margin: 1em 0.5em;">
			{% if data.tags %}
				<span class="meta-header">Tags:</span><br>
				{% for item in data.tags %}
					<span class="meta-tags"><a href="/{{ data.quote.username }}/tags/{{ item.slug }}" style="color:#999; text-decoration:none;">#{{ item.name }}</a></span>
				{% endfor %}
			{% endif %}
		</div>
		<br><br>
	</div>
	{% endif %}
{% endif %}