<div id="new-quote" class="white-popup mfp-hide" data-activated="true" style="position:relative;">
	<div class="loading-new-quote" style="display:none;">
		<div style="position: absolute; bottom:10px; right:10px;">
			<i class="fa fa-spinner fa-spin fa-2x"></i>
		</div>
	</div>
	<div style="">
		<div id="quote-errors" class="pure-error" style="margin:20px 0 20px 0; display:none;">
			<h4 style="margin:0;">Check errors bellow</h4>
			<div id="quote-errors-list">
			</div>
		</div>
		<form class="pure-form pure-form-stacked quote-form" id="form-newquote">{% csrf_token %}
			<div class="pure-u-1" style="margin: 0.5em 0;">
				<div class="pure-u-3-5" style="">
					<select id="quote-notebook" class="dropdown" name="notebook">
						{% for item in notebooks %}
							<option value="{{ item.uniquekey }}" {% if item.default %}selected{% endif %}>{{ item.name }}</option>
						{% endfor %}
					</select>
				</div>
				{% if not is_bookmarklet %}
				<div class="pure-u-1-5">
					<button class="pure-button pure-button-success pure-button-xlarge button-notebook" id="btn-newnotebook" style="">
						<i class="fa fa-plus"></i>
					</button>
					<button class="pure-button pure-button-success pure-button-xlarge button-notebook" id="btn-cancelnotebook" style="display:none;">
						<i class="fa fa-times"></i>
					</button>
				</div>
				{% endif %}
			</div>
			<br>
			{% if not is_bookmarklet %}
			<input type="text" id="quote-newnotebook" name="newnotebook" placeholder="New notebook name" style="display:none; margin: 0.5em 0;">
			{% endif %}
			<textarea id="quote-text" name="text" placeholder="My new awesome quote" required>{% if quote %}{{ quote }}{% endif %}
			</textarea>
			{% if is_bookmarklet %}
			<input type="hidden" id="quote-url" name="url" value="{% if url %}{{ url }}{% endif %}">
			{% endif %}
			<select id="quote-author" placeholder="Author" name="author"></select>
			<select placeholder="Select the category or create a new one" id="quote-category" name="category">
				<option></option>
				{% for item in categories %}
					<option value="{{ item.id }}">{{ item.name }}</option>
				{% endfor %}
			</select>				
			<input type="text" name="tags" id="quote-tags" placeholder="Tags (funny, tech, inspiring)"/>
			<br>
			<button class="pure-button pure-button-success pure-u-1" id="btn-insertquote" data-url="{% url 'quotes:insert_quote' %}" data-bookmarklet="{% if is_bookmarklet %}true{% else %}false{% endif %}">
				Post It
			</button>
		</form>
	</div>
</div>