<div id="div-change-notebook" class="white-popup mfp-hide" data-activated="true" style="position:relative;">
	<div class="loading-change-notebook" style="display:none;">
		<div style="position: absolute; bottom:10px; right:10px;">
			<i class="fa fa-spinner fa-spin fa-2x"></i>
		</div>
	</div>
	<div style="">
		<h4>Choose a new notebook for your quote</h4>
		<div id="change-notebook-errors" class="pure-error" style="margin:20px 0 20px 0; display:none;">
			<h4 style="margin:0;">Check errors bellow</h4>
			<div id="change-notebook-errors-list"></div>
		</div>
		<form class="pure-form pure-form-stacked quote-form" id="form-choosenotebook">{% csrf_token %}
			<input type="hidden" id="changeNotebook-quote" name="quote_key">
			<div class="pure-u-1">
				<select id="changeNotebook-notebook" class="" name="notebook_key"></select>				
			</div>
			<br>	
			<br>
		</form>
	</div>
</div>