{% extends "base.html" %}
{% load url from future %}
{% block title %}{{ data.page_title }} - Quoffee{% endblock %}
{% block extracss %}
<style type="text/css">

.content{
	max-width: 800px;
	margin: 0 auto;
	padding: 2em 1em 1em 1em;
}

.quote-page-container{
	margin-top: 1em;
	margin-bottom: 1.5em;
	padding: 1em;
	
}

.quote-page-container .quote-category{
	color: #999;
}
.quote-page-container .quote-text{
	font-weight: 300;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 1.4em;
	color: #000;
}
.quote-page-container .quote-author{
	font-weight: 700;
	color: #000;
}



</style>
{% endblock %}

{% block content %}
<div class="pure-u-1">
	<div class="content" id="">
		{% if data and data.public %}		
		<div class="quote-page-container" data-id="{{ data.quote.uniquekey }}" data-userdisplay="{{ data.quote.profile.display }}" data-requotecount="{{ data.quote.requote_count }}">
			<div class="circular-60 quoteuser-display" style="background: url('{{ data.quote.profile.display }}') no-repeat; background-size:60px 60px;"></div>
			<span class="quote-category">
				{% if data.quote.category %}
					{{ data.quote.category.name }}
				{% elif data.quote.custom_category %}
					{{ data.quote.custom_category }}
				{% else %}
					Uncategorized
				{% endif %}
			</span><br>
			<p class="quote-text">
				{{ data.quote.text }}
			</p>
			<span class="quote-author">
				{% if data.quote.author %}
					{{ data.quote.author.name }}
				{% else %}
					Unknown
				{% endif %}
			</span>
			<br><br>
			{% if not data.is_quote_user and is_user %}
				<button class="pure-button pure-button-success btn-requotes" onclick="javascript: requote('{{ data.quote.uniquekey }}');">Requote</button>
			</div>
			{% endif %}
			<div class="quote-requotes" style="float:left; margin-left: 1em;">
				{% if data.requotes %}
					{% for item in data.requotes %}
						<div class="circular-30" style="background: url('{{ item.display }}') no-repeat; background-size:30px 30px;"></div>
					{% endfor %}
				{% endif %}
			</div>
			<div style="margin: 2em 0em;">
				<div class="floatleft" style="width:120px; margin-bottom:0.5em;">
				<div class="fb-share-button" data-href="http://quoffee.com/q/{{ data.quote.uniquekey }}" data-type="button_count" data-width="80"></div>
				</div>
				<div class="floatleft" style="margin-bottom:0.5em;">
				<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="/" data-counturl="http://quoffee.com/q/{{ data.quote.uniquekey }}" data-text="{{ data.share_str }}">Tweet</a>
				</div>
				<div class="floatleft">
				<a href="http://bufferapp.com/add" class="buffer-add-button" data-count="horizontal" data-url="http://quoffee.com/q/{{ data.quote.uniquekey }}" data-text="{{ data.share_str_buffer }}">Buffer</a>
				</div>
			</div>
			<div style="clear:both;"></div>
			<div style="margin: 1em 0em 0 0;">
				{% if data.tags %}
					<span class="meta-header">Tags:</span><br>
					{% for item in data.tags %}
						<span class="meta-tags"><a href="/{{ data.quote.username }}/tags/{{ item.slug }}" style="color:#999; text-decoration:none;">#{{ item.name }}</a></span>
					{% endfor %}
				{% endif %}
			</div>
			{% if data.quote.meta %}
			<div style="margin: 1em 0em 0 0;">
				
				<div class="pure-g-r">
					{% for key, value in data.quote.meta.items %}
				    <div class="pure-u-1-3" style="margin-bottom:0.5em;">
				    	<span class="meta-header">{{ key }}</span><br>
						<span class="meta-tags">{{ value }}</span><br>
				    </div>
				    {% endfor %}
				</div>
				
			</div>
			{% endif %}
		</div>

		{% else %}

		<div>
			<p style="font-size:2em;"><strong>We have reached an impasse.</strong> <br>The quote doesn't exist or you are not authorized to see it.</p>
		</div>

		{% endif %}

		{% if not is_user %}
			<div class="" style="padding-left:1em;">
				<div><a href="/login" name="" class="pure-button pure-button-success pure-button-xlarge"><i class="fa fa-edit fa-lg"></i> New Quote</a></div>
				<div style="margin-top:1.5em;"><a href="https://medium.com/quoffees-blog/a02ca4bafe0f" class="a-primary">Learn More</a></div>
			</div>
		{% endif %}
	</div>
</div>
{% endblock %}
{% block extrajs %}{% endblock %}