{% extends "base.html" %}
{% load url from future %}
{% block title %}Quoffee - Support{% endblock %}
{% block extracss %}
<link rel="stylesheet" type="text/css" href="/static/css/app-faq.css">
<style type="text/css">
.content{
	max-width: 800px;
	margin: 0 auto;
	padding: 2em 1em 1em 1em;
}

.pure-form input[type=text]:focus, .pure-form input[type=password]:focus, .pure-form input[type=email]:focus, .pure-form input[type=url]:focus, .pure-form input[type=date]:focus, .pure-form input[type=month]:focus, .pure-form input[type=time]:focus, .pure-form input[type=datetime]:focus, .pure-form input[type=datetime-local]:focus, .pure-form input[type=week]:focus, .pure-form input[type=number]:focus, .pure-form input[type=search]:focus, .pure-form input[type=tel]:focus, .pure-form input[type=color]:focus, .pure-form select:focus, .pure-form textarea:focus {
outline: 0;
outline: thin dotted \9;
border-color: #3aa768;
}


</style>
{% endblock %}

{% block content %}
<div class="pure-u-1">
	<div class="content">
		<div style="text-align:center;">
			<h1>Quoffee F.A.Q.</h1>
		</div>
		<div style='margin:0 0 50px 0;' class="pure-form">
			<ol class="faq-list" style='margin:0; padding:0;'>
	  			<li style='margin-top: -10px;'>
	        		<h4 id="faq-question-1">What is deal with Quoffee?</h4>
	        		<p>Quotes are, for us, very important and very hard to organize since you have different authors, sources, tags, etcetera. With Quoffee we make it really easy to get quotes from everything we are reading organized and search them for later use.</p>
	      		</li>
	      		<li style='margin-top: -10px;'>
	        		<h4 id="faq-question-2">How do I sign up?</h4>
	        		<p>Go to <a href="/">Quoffee.com</a> and click the add "New Quote" button and then "Sign in with Twitter."</p>
	      		</li>
	      		<li style='margin-top: -10px;'>
	        		<h4 id="faq-question-3">Can I use Quoffee without a Twitter account?</h4>
	        		<p>Kind of. You can search for quotes but you can't add new ones without a Twitter account. We might add alternate sign-up methods later.</p>
	      		</li>
	      		<li style='margin-top: -10px;'>
	        		<h4 id="faq-question-4">My quote has a typo. How can I fix it?</h4>
	        		<p>Sorry, but right now you can't. We are working hard so you can edit all your quotes in the future. You can delete it and post it again, though.</p>
	      		</li>
	      		<li style='margin-top: -10px;'>
	        		<h4 id="faq-question-5">I want my quotes for myself. Is there a way I can make my quotes private?</h4>
	        		<p>Again, sorry. We are discussing the possibility of having private notebooks. Is that cool?</p>
	      		</li>
	      		<li style='margin-top: -10px;'>
	        		<h4 id="faq-question-6">When are the iOS and Android apps coming up?</h4>
	        		<p>When the moon loses her child, if it happens in a week when two Mondays come together.</p>
	      		</li>
	      		<li style='margin-top: -10px;'>
	        		<h4 id="faq-question-7">Is that your clever way to say 'never'?</h4>
	        		<p>No, it's not. We just meant 'someday' but we are not working on that at the moment.</p>
	      		</li>
	 		</ol>
		</div>
	</div>
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="/static/app/faq.js"></script>
{% endblock %}
