<html>
	<head>
		<title>Quoffee Bookmarklet</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="mobile-web-app-capable" content="yes">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
		<link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,900' rel='stylesheet' type='text/css'>
		<link type="text/css" rel="stylesheet" href="/static/css/jquery.selectize.default.css" />
		{% if flavour == "mobile" %}
			<link type="text/css" rel="stylesheet" href="/static/css/jquery.easydropdown.css" />
		{% else %}
			<link type="text/css" rel="stylesheet" href="/static/css/jquery.easydropdown.flat.css" />
		{% endif %}
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/static/css/app-base.css">
		<style type="text/css">
		{% if flavour != "mobile" %}
			.centered {
	  			position: fixed;
		  		top: 50%;
		  		left: 50%;
		  		margin-top: -200px;
	  			margin-left: -250px;
			}
		{% endif %}
		.content{
			padding: 1em;
		}
		p{
			font-family: 'Merriweather',serif;
			font-size: 2.5em;
		}

		.white-popup {
			position: relative;
			background: #FFF;
			padding: 0;
			width: auto;
			max-width: 500px;
			margin: 0;
		}

		html {
		  overflow-x: hidden;
		  overflow-y: auto !important;
		}

		#new-quote p{
			text-align:center;
		}

		#new-quote a{
			font-size:0.8em;
			color: #3AA768;
			text-decoration: none;
		}

		</style>
		<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.selectize.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.easydropdown.js"></script>
		<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
		<script type="text/javascript" src="/static/js/jquery.autosize.min.js"></script>
		<script type="text/javascript" src="/static/app/commons.js"></script>
	</head>
	<body>
		<div class="pure-g-r">		
		{% block content %}			
		{% endblock %}
		</div>
		{% block extrajs %}
		{% endblock %}
	</body>
</html>