{% extends "bookmarklet/bookmarklet_base.html" %}
{% block content %}
<div class="pure-u-1 content" style="width:500px;">
	<div style="text-align:right;">
		<img src="/static/images/app/app-logo-green_40.png">
	</div>
	<div>
	{% include "quote-form.html" %}
	</div>
</div>
{% endblock %}
{% block extrajs %}
<script type="text/javascript" src="/static/js/messenger.min.js"></script>
<script type="text/javascript" src="/static/app/quote-form.js"></script>
{% endblock %}
