{% extends "bookmarklet/bookmarklet_base.html" %}
{% load url from future %}
{% block content %}
	<div class="centered pure-u-1 content" style="width:500px; height:400px;">
		<div>
			<div style="text-align:right;">
				<img src="/static/images/app/app-logo-green_40.png">
			</div>
			<h1 style="">Sign in with...</h1>
			<div class="social-auth">
				<a href="{% url 'social:begin' 'twitter' %}?next={{request.get_full_path}}"><img src="/static/images/social/signin-twitter.png"></a> <br />
			</div>
		</div>
	</div>
{% endblock %}
